---
layout: default
---
<div id="container">
<div id="grid" data-columns class="cols">
    <!-- Items in the 'featured' collection are reserved for special events.
       They are not placed in the standard "collection" cards, where
       most events will go. This will give one little box per post, each
       with its own optional image, color, title, etc. -->
   {% for feature in site.featured %}
   <div class="box" style="background-color:#{{feature.color}}">
      {% if feature.exturl %}
        <a href="{{feature.exturl}}">
        <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: feature.img }} alt="{{feature.title}}">
        </a>
        <div class="container">
        <p>{{feature.description}}</p>
        <div class="action">{{ feature.date | date: '%B %d, %Y' }}<a href="{{feature.exturl}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div> 
        </div>   
      {% else %}
        <a href="{{feature.url | prepend: site.baseurl}}">
        <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: feature.img }} alt="{{feature.title}}">
        </a>
        <div class="container">
        <p>{{feature.description}}</p>
        <div class="action">{{ feature.date | date: '%B %d, %Y' }}<a href="{{feature.url | prepend: site.baseurl}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div> 
        </div>   
      {% endif %}
    </div>
   {% endfor %}
   <div class="box" style="background-color:#0f0f0f">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "devotionals.gif" }} alt="Devotionals">
     <div class="container">
     <p>
     Devotional gatherings are spaces for people from all walks of life to partake of food for their soul. Often held in 
     people's homes, devotional gatherings are open to anyone to share prayers spoken, sung or shared in other artistic 
     forms.
     <ul>
     {% for devotional in site.devotionals %}
     <li><b>{{devotional.location}}</b>:&nbsp;<a href="{{devotional.url | prepend: site.baseurl}}">{{devotional.description}}</a>
     [{{devotional.time}}]</li>
     {% endfor %}
     </ul>
     For information about hosting a devotional gathering in your own home, please email <a href="mailto:atc@westchesterbahais.org">atc@westchesterbahais.org</a>.
     </div>
   </div>
   <div class="box" style="background-color:#717924">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "development.gif" }} alt="Services">
     <div class="container">
     <p>Service and community development opportunities sponsored
     by the Baha'i Faith and organizations inspired by the Baha'i
     teachings. Workers wanted.</p>
     <ul>
     {% for development in site.development %}
       {% if development.exturl %}
       <li><b><a href="{{development.exturl}}">{{development.title}}</a>:&nbsp;</b>{{development.description}}</li>
       {% else %}
       <li><b>{{development.location}}</b>:&nbsp;<a href="{{development.url | prepend: site.baseurl}}">{{development.description}}</a>
     [{{development.time}}]</li>
       {% endif %}
     {% endfor %}
     </ul>
     </div>
   </div>
   <div class="box" style="background-color:#e36120">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "childrens-classes.gif" }} alt="Childrens-classes">
     <div class="container">
     <p>
     Baha'is believe that children are the most precious treasure a community can possess and thus 
     place emphasis on their spiritual and moral development. Classes for the spiritual education of children 
     are organized at the neighborhood level. 
     </p>
     <!--
     <ul>
     {% for classes in site.childrens-class %}
     <li><b>{{classes.location}}</b>:&nbsp;<a href="{{classes.url | prepend: site.baseurl}}">{{classes.description}}</a>
	     [{{classes.time}}]</li>
     {% endfor %}
     </ul>
     <p>No nearby classes listed? Please email <a href="mailto:atc@westchesterbahais.org">atc@westchesterbahais.org</a> for more information about a 
     children's class in your neighborhood.</p>
     -->
     <p>
     Children's classes are ongoing in a variety of locations, mostly in lower Westchester. Please 
     email <a href="mailto:atc@westchesterbahais.org">atc@westchesterbahais.org</a> with your
     name and township to be directed to the nearest neightborhood classes.
     </p>
     </div>
   </div>
   <div class="box" style="background-color:#911411">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "youth-groups.gif" }} alt="Youth-groups">
     <div class="container">
     <p>Development, service and social activities for adolescents.</p>
     <!--
     <ul>
     {% for group in site.youth-group%}
     <li><b>{{group.location}}</b>:&nbsp;<a href="{{group.url | prepend: site.baseurl}}">{{group.description}}</a>
	     [{{group.time}}]</li>
     {% endfor %}
     </ul>
     <p>We have two new junior youth groups! Please contact
     <a href="mailto:atc@westchesterbahais.org">atc@westchesterbahais.org</a> for information on involving 
     your youth of ages 10-15.</p>
     -->
     Our youth groups have formed this fall and are onging. Email <a href="mailto:atc@westchesterbahais.org">atc@westchesterbahais.org</a> for information on how to join.
     </div>
   </div>
   <div class="box" style="background-color:#717924">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "study-circle.gif" }} alt="Study-circles">
     <div class="container">
     <p>Study circles on the Baha'i Faith and other topics.</p>
     <ul>
     {% for study in site.study-circle%}
     <li><b>{{study.location}}</b>:&nbsp;<a href="{{study.url | prepend: site.baseurl}}">{{study.description}}</a>
	     [{{study.time}}]</li>
     {% endfor %}
     </ul>
     <p>New classes are forming all the time! Please email <a href="mailto:atc@westchesterbahais.org">atc@westchesterbahais.org</a> for information on
     upcoming classes.</p>
     </div>
   </div>
   <div class="box" style="background-color:#0f0f0f">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "special-events.gif" }} alt="Special-Events">
     <div class="container">
     <p>Other events open to the public.</p>
     <ul>
     {% for event in site.special-events %}
     <li><b>{{event.location}}</b>:&nbsp;<a href="{{event.url | prepend: site.baseurl}}">{{event.description}}</a>
	     [{{event.time}}]</li>
     {% endfor %}
     </ul>
     </div>
   </div>
   <div class="box" style="background-color:#911411">
     <a href="bahai-mtgs">
         <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "enrolees.gif" }} alt="Shrine-outline">
     <div class="container">
     </a>
     <p><a href="bahai-mtgs">Click here for information on meetings for the Baha'i community:</a>&nbsp;Feasts, planning meetings
     and other internal events.</p>
     </div>
   </div>
</div>   <!--   end grid div -->
</div>   <!--   end container div -->
<div id="link-footer" data-columns class="cols">
   <table style="width:100%"><tr>
   <td style="background-color:#911411">
      <a href="https://www.bahai.us">Baha'is of US Official Website</a>
   </td>
   <td style="background-color:#0f0f0f">
      <a href="https://www.bahai.org">Baha'i Official Website</a>
   </td>
   <td style="background-color:#717924">
      <a href="http://bahainyc.org">Baha'is of New York City</a>
   </td>
   <td style="background-color:#e36120">
      <a href="http://wilmetteinstitute.org/">Wilmette Intitute (online courses)</a>
   </td>
   </tr></table>
</div>
<script src="{{site.baseurl}}/js/salvattore.min.js"></script>
