---
layout: default
---
<div id="container">
<div id="grid" data-columns class="cols">
    <!-- Items in the post collection are reserved for special events.
       They are not placed in the standard "collection" cards, where
       most events will go. -->
    {% for post in site.posts %}
    <div class="box" style="background-color:#{{post.color}}">
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
             <div class="action">{{ post.date | date: '%B %d, %Y' }}<a href="{{post.url | prepend: site.baseurl}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div> 
        </div>   
    </div>
   {% endfor %}
   <div class="box" style="background-color:#0f0f0f">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "devotionals.gif" }} alt="Devotionals">
     <h4>Devotionals</h4>
     <p>Devotional services and prayer meetings; Baha'i, interfaith and
     otherwise. Open to all.</p>
     {% for devotional in site.devotionals %}
       <p><a href="{{devotional.url | prepend: site.baseurl}}">{{devotional.description}}</a></p>
     {% endfor %}
   </div>
   <div class="box" style="background-color:#717924">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "development.gif" }} alt="Services">
     <h4>Service and Community Development</h4>
     <p>Service and community Development opportunities sponsored
     by the Baha'i Faith and organizations inspired b the Baha'i
     teachings. Workers wanted.</p>
     {% for development in site.development %}
       <p><a href="{{development.url | prepend: site.baseurl}}">{{development.description}}</a></p>
     {% endfor %}
   </div>
   <div class="box" style="background-color:#e36120">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "childrens-classes.gif" }} alt="Childrens-classes">
     <h4>Children's Classes</h4>
     <p>Classes for children in virtues and values</p>
     {% for classes in site.childrens-class %}
       <p><a href="{{classes.url | prepend: site.baseurl}}">{{classes.description}}</a></p>
     {% endfor %}
   </div>
   <div class="box" style="background-color:#911411">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "youth-groups.gif" }} alt="Youth-groups">
     <h4>Youth Groups</h4>
     <p>Youth and pre-youth activities.</p>
     {% for group in site.youth-group%}
       <p><a href="{{group.url | prepend: site.baseurl}}">{{group.description}}</a></p>
     {% endfor %}
   </div>
   <div class="box" style="background-color:#717924">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "study-circle.gif" }} alt="Study-circles">
     <h4>Study Circles</h4>
     <p>Study circles in the Baha'i Faith and other topics.</p>
     {% for study in site.study-circle%}
       <p><a href="{{study.url | prepend: site.baseurl}}">{{study.description}}</a></p>
     {% endfor %}
   </div>
   <div class="box" style="background-color:#e36120">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "special-events.gif" }} alt="Special-Events">
     <h4>Special Events</h4>
     <p>Other events open to the public.</p>
     {% for event in site.special-events %}
       <p><a href="{{events.url | prepend: site.baseurl}}">{{event.description}}</a></p>
     {% endfor %}
   </div>
   <div class="box" style="background-color:#0f0f0f">
     <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: "enrolees.gif" }} alt="Shrine-outline">
     <p><a href="bahai-mtgs | prepend: site.baseurl}}">Planning meetings and fellowship for the Baha'i community</a></p>
   </div>
</div>
</div>

<script src="{{site.baseurl}}/js/salvattore.min.js"></script>
