<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>  
    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito|Poppins|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/f493855848.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ "/css/main.css" | prepend: site.baseurl }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- { % seo % } -->
</head>
